@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin-bottom: 60px;
}

.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
    background-color: #0c243c;
}

nav {
    border-bottom: 1px solid #0c243c;
    padding: 16px;
}

h1 {
    color: #0c243c;
}

h2 {
    color: #7e8c9c;
    font-style: italic;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #55c2c3;
}

a:hover {
    text-decoration: underline;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #fff;
    text-decoration: underline;
}

img {
    height: 200px;
}

table tr:nth-child(even) {
    background-color: #DDE5E9;
}

footer {
    padding: 30px 16px 24px 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #7e8c9c;
    color: #fff;
    text-align: center;
}
